@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body {
    background-image: url("/assets/bg.jpg");
    font-family: 'Outfit', sans-serif;
}